language: cpp
dist: jammy
sudo: required

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "SJuH+7HAl0lSxPl34Cy7DORiH5MGc4+r3R/jSECyQqud0S+aPv9Nvd905O4WiRGjetox9OWBmAgg6uUPPoYkiIrPFEUttJW8gFdc9qyJ2+Ar29t96G2vmWtdzQFdsBzdoLO/xySHDDOQcx0kBtynCf6kp0p5U13tWVRv0XBuScDzXSyZTGY9LmLkHRJnvo/K2rksHDl4mfQvdWLR2PhoOV8tXYG5OXfSNcyy/rQU9z2G0/Eea9GbTthPTomcHzm4OdWpsS7+mpcXH0HGULyL+wkFzc9IaNUMchugTXsqyMDN0P0uQsCXlDlwl+Zau9wDPKLcx1DUxXnE0tDonjWev0zg9xHUA6Davw570Dk7f20TF9tbjK+W/ghiO5SlzEornd2BBOedt7SVQe1yML2GGv4J/kZE0l/S3QEwa1a1Qc8lOBhneHPACuqfCl/hwGGm6aSTmXTDwv1ghoJVljJ51LQM0Gp8JxyR6tPqs/57Z2oDqylPjLZ86zqaFvMcbjPcRzLYS56OoRIqjSQ1Sg6Kq7I6BMeKfcoe04PBmy3+8yhIHLpN/aosyLDSzIro9vM7Q+c/kgRDDCSDhpsgtoyXQ7gBjlapL2tMyZJ3CxFIJEQy5U7Ii2KQqdhy51ZHMymq9+his/HeU+DTLuiU343iXvX3+aIlzp9RcNtMzgqDFbY="

# Test with modern compiler versions
jobs:
  include:
    - compiler: gcc
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-11', 'libzmq3-dev', 'lcov', 'doxygen', 'xvfb', 'libx11-dev', 'freeglut3-dev', 'libglew-dev', 'libsndfile1-dev', 'libopenal-dev', 'libudev-dev']
      env: SET_COMPILER="gcc-11"

    - compiler: clang
      addons:
        apt:
          packages: ['clang-15', 'libzmq3-dev', 'lcov', 'doxygen', 'xvfb', 'libx11-dev', 'freeglut3-dev', 'libglew-dev', 'libsndfile1-dev', 'libopenal-dev', 'libudev-dev']
      env: SET_COMPILER="clang-15"

  # Coverity Scan moved to its own job for clarity
  allow_failures:
    - env: COVERITY_SCAN_BRANCH=1


before_install:
  # Set compilers based on the job env
  - if [ "$SET_COMPILER" = "gcc-11" ]; then export CC=gcc-11 && export CXX=g++-11; fi
  - if [ "$SET_COMPILER" = "clang-15" ]; then export CC=clang-15 && export CXX=clang++-15; fi

  # Update package list
  - sudo apt-get update -qq

  # Build GoogleTest (Note: Many distros now have libgtest-dev, but manual build ensures latest)
  - git clone --depth=1 https://github.com/google/googletest.git
  - cmake -S googletest -B googletest/build && cmake --build googletest/build -j4
  - sudo cmake --install googletest/build

  # Build SFML (Essential to build from source if using latest features)
  - git clone --depth=1 https://github.com/SFML/SFML.git
  - cmake -S SFML -B SFML/build -DSFML_BUILD_EXAMPLES=OFF
  - cmake --build SFML/build -j4
  - sudo cmake --install SFML/build

install:
  - $CXX --version
  - cmake --version


script:
  # Normal build and test logic
  - if [ "${TRAVIS_BRANCH}" != "coverity_scan" ]; then
    mkdir build && cd build;
    cmake ..;
    make -j4;
    xvfb-run --server-args="-screen 0 1024x768x24" ./unit-tests;
    fi

after_success:
  - cd ${TRAVIS_BUILD_DIR}
  - lcov --directory . --capture --output-file coverage.info
  - lcov --remove coverage.info '/usr/*' '*/googletest/*' '*/SFML/*' --output-file coverage.info
  # Modern Codecov Uploader (Replacement for the bash script)
  - curl -Os https://uploader.codecov.io/latest/linux/codecov
  - chmod +x codecov
  - ./codecov -t ${CODECOV_TOKEN}
