language: cpp
dist: trusty
sudo: true

compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - libsfml-dev
    - libzmq5-dev
    - lcov
    - g++-5

before_install:
  - wget -nv -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -
  - sudo apt-add-repository -y 'deb http://llvm.org/apt/trusty llvm-toolchain-trusty-3.8 main'
  - sudo add-apt-repository -y ppa:george-edison55/cmake-3.x
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y clang-3.8 xvfb doxygen

install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++-5"; fi
    - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.8"; fi
    # Checking versions
    - lcov --version
    - g++ --version

script:
    - mkdir -p build
    - cd build
    - cmake ..
    - make
#  - ./unit-tests
    - xvfb-run --server-args="-screen 0 1024x768x24" ./unit-tests
  # - catchsegv ./unit-tests -o hai

after_success:
    # Creating report
  - cd ${TRAVIS_BUILD_DIR}
  - lcov --directory . --capture --output-file coverage.info # capture coverage info
  - lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter out system
  - lcov --list coverage.info #debug info
  # Uploading report to CodeCov
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
